//O method "GET" envia os dados pela URL
//O method "POST" 
// Faz se necessario mudar - em rotas de app.GET para app.POST

<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea name="conteudo" ></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>